/* global */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-weight: 400;
  font-family: 'Tajawal', sans-serif;
}
.tajawal-extralight {
  font-family: "Tajawal", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.tajawal-light {
  font-family: "Tajawal", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.tajawal-regular {
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tajawal-medium {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.tajawal-bold {
  font-family: "Tajawal", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tajawal-extrabold {
  font-family: "Tajawal", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.tajawal-black {
  font-family: "Tajawal", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* global */
/* navbar */
nav .logo{
filter: drop-shadow(0px 4px 4px 0px #FFFFFF40);
width: 100px;
}
.cta{
  width: 150px;
  height: 55px;
  background: linear-gradient(92.55deg, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0.09) 49.25%, rgba(255, 255, 255, 0.15) 98.51%);
  padding: 18px 32px;
  border-radius: 64px;
}
/* navbar */
/* start header */
header h1{
  font-size: 65px;
  line-height: 66px;

}
header .cta{
  backdrop-filter: blur(5px);
  background: linear-gradient(92.55deg, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0.09) 49.25%, rgba(255, 255, 255, 0.15) 98.51%);
  padding: 24px 64px;
  border: 1px;
  border-radius: 64px;
width :168px;
height: 67px;
}
  header picture img:hover {
    animation: shake 1.5s infinite;
  }
  header {
    background-image: linear-gradient(rgba(0 ,0 ,0 , 0.5) , rgba(0 ,0 ,0 , 0.5) ) ,url('images/backgroundFigma.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .heading{
    direction: ltr !important;
    
  }
  .heading h3::after {
    content: "|";
    animation: typing 3s infinite alternate;
    -webkit-animation: typing 3s infinite alternate;
  }
  @keyframes typing {
    5% {
      content: " I|";
    }
    10% {
      content: " In|";
    }
   15% {
      content: " Int|";
    }
    20% {
      content: " Inte|";
    }
    25% {
      content: " Inter|";
    }
    30% {
      content: " InterB|";
    }
    35% {
      content: " InterBu|";
    }
    40% {
      content: " InterBui|";
    }
    45% {
      content: " InterBuil|";
    }
    50% {
      content: " InterBuild|";
    }
    55% {
      content: " InterBuil|";
    }
    60% {
      content: " InterBui|";
    }
    65% {
      content: " InterBu|";
    }
    70% {
      content: " InterB|";
    }
    75% {
      content: "Inter|";
    }
    80% {
      content: " Int|";
    }
    90% {
      content: " In|";
    }
    100% {
      content: " I|";
    }

  }
  /* end header */
  /* start partners */

  /* end partners */